<div class="jumbotron">
    <h1>Please Don't</h1>
    <p class="lead">Seriously, just don't</p>

</div>
<div class="row">
    <div >
        <h2>Please don't</h2>
        <p>We don't always know what we are doing in the beginning, but we sure as hell know what we did at the end. How successfull it was is another story, but i'm sure our badges can testify to our progress in this endeavour</p>
        <p>Check our badges @Html.ActionLink("here", "Index", "Badges", new { area = "" }, null)</p>
    </div>

</div>
